<body>
    <form action="/addLocation" method="POST">
		<input type="text" name="title"  placeholder="Spot Name">
		<input type="text" name="img"  placeholder="Image URL">
		<input type="text" name="location" placeholder="Location">
		<button type="submit">Create Spot</button>
	</form>
</body>