<h2>List of Locations</h2>
    {{#each locationList}}
        <div>
            <img src="/images/{{img}}" style="height: 500px" alt="Monk">
            <h1>{{title}}</h1>
            <h2>{{location}}</h2>
        </div>
    {{/each}}
    <a href="/add">add</a>