<section class="home">
    <marquee
    class="home-marquee"
    scrolldelay="0"
    behavior=""
    direction=""
    style="marquee-speed:fast;"
    scrollamount="15"
  ><h1 style="margin-left: 10px">WELCOME TO BMX/SKATE WICKED SPOTS FOR REAL
      THAT'S WICKED BRO, SO MUCH COOL, LIKE SUPER COOL, LIKE HYPER COOL! LIKE
      GOING TO MARS AND HAVE ICE CREAM COOL! COLLER THAN ME, COLLER THAN WALKING
      ON THE SUN WITH BARE FOOT! COOLER THAN THE CREATION OF NATURE, COLLER THAN
      NATURE! NATURE MANNN!
    </h1></marquee>

  {{!-- <img class="logo" src="/images/LOGO.png" alt="" /> --}}
  
  <div class="home-btn-container">
    <button>LOGIN</button>
    <button>SIGN UP</button>
  </div>

</section>