<body>
   <div>
      <ul>
         <li><a href="/">Home</a></li>
         <li><a href="/map">Map</a></li>
         <li><a href="/signup">Sign in</a></li>
      </ul>
   </div>
   {{{body}}}
   <script src="/js/script.js"></script>
</body>
