<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- these are the links for mapbox -->
	<script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet' />

	<title>Document</title>
</head>
<body>
    <h2>List of Locations</h2>
    <div id='map' style='width: 75%; height: 800px;'></div>
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoidXNhbW9ua2V5YnJhc2lsIiwiYSI6ImNsNTd6MGFzczF5NWEza3BwcTczdzJwMXcifQ.1MZ55KFPsj0qnTPB_Lg9Jg';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11'
  });
  </script>
    {{#each locationList}}
        <div>
            <img src="{{img}}" style="height: 500px" alt="Monk">
            <h1>{{title}}</h1>
            <h2>{{location}}</h2>
            <form action="/locations/{{_id}}/delete" method="POST">
	            <button type="submit">delete</button>
            </form>
        </div>
    {{/each}}
<a href="/add">add</a>


</body>
</html>