* {
  box-sizing:border-box;
  margin:0;
  padding:0;
}

html, body {
  height:70%;
  width:100%;
}

body {
  background-color:#ffffff;
  color:rgb(0, 0, 0);
  font-family: 'Comic Sans MS', cursive;
  display:grid;
  justify-content:center;
}
